<!DOCTYPE html>
<html lang="en">
<head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <base href="/">
       <title>View Post - <%=post.name%></title>
       <link rel="stylesheet" href="/viewpost.css">
</head>
<body>
       <h2 style="text-align: center;">View your post</h2>
       <div class="ppost">
              <h4>Name: <%=post.name%></h4>
              <p>Post: <%=post.content%></p>
              <strong>Likes: <%=post.likes%></strong>
              <strong>Comments: <%=post.comments%></strong>
       </div>
       <div style="text-align: center; margin-top: 20px;">
              <button><a href="/posts" style="text-decoration: none;">Back to Posts</a></button>
              <button><a href="/posts/<%=post.id%>/edit" style="text-decoration: none;">Edit</a></button>
              <button><a href="/posts/<%=post.id%>/delete" style="text-decoration: none;">Delete</a></button>
       </div>
</body>
</html>